/** Settings styles **/

.gwptb-test-response {
	min-height: 100px;
}

.gwptb-dashboard {
	margin-bottom: 24px;
}

#gwptb-widgets {
	@include clearfix;
		
	#postbox-container-1 {
		width: 100%;		
	}
	
	#postbox-container-2 {
		width: 100%;
		margin: 24px 0 0;
	}
	
	@include for(large-screens){
		#postbox-container-1 {
			width: 60%;		
		}
		
		#postbox-container-2 {
			width: 35%;
			margin: 0 0 0 3%;
		}
	}
}

/** help **/
.gwptb-page-section.help-section {
	.card { max-width: 840px; }
}

/** settings block */
.gwptb-page-section.settings {
	@include clearfix;
	
	form {
		display: block;		
	}
	
	.settings-side {
		margin-top: 24px;
	}
	
	@include for(large-screens){
		
		form {
			width: 60%;
			float: left;
		}
		
		.settings-side {
			float: left;
			width: 35%;
			margin: 0 0 0 3%;
			@include calc('margin-top', '3.82em + 20px');
		}
	}
}

/** connection sections **/
.gwptb-page-section.connection {
	.postbox  h2 {		
		& > span {
			position: relative;
			display: block;			
		}
		
		.postbot-title-link {
			font-size: 0.8em;
			line-height: inherit;
			margin-left: 8px;
		}
		
		@include for(large-screens){
			.postbot-title-link {
				position: absolute;
				right: 30px;
				top: 2px;
			}
		}
	}
}

/* connection test **/
.gwptb-conncetion-setup {
	
	.button {
		margin-right: 8px;
		.for-green { display: none; }
		&.green {			
			.for-init { display: none; }
			.for-green { display: inline; }
			
			background: $green;
			border: 1px solid darken($green, 3%);
			box-shadow: none;
			text-shadow: none;
			border-radius: 0;
			font-size: 1.2em;
			line-height: 1.2em;
			height: auto;
			padding: 0.65em 1.5em;
			min-width: 40%;
			text-align: center;
			cursor: default;
		}
	}
	
}

/* data table */
.gwptb-connection-data {
	table {
		width: 100%;
		@include for(large-screens){
			width: 50%;
		}
	}
	
	th {
		text-align: left;
		padding: 4px 0;
		width: 160px;
	}
	
	td {
		padding: 4px 0 4px 16px;
	}
}


/* Log table */
.gwptb-log-content {
	font-size: 0.9em;
}
.gwptb-log-error {
	font-size: 0.9em;
	color: red;
}